<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<!-- <script src="../../node_modules/web-animations-js/web-animations.min.js"></script> -->
<link rel="import" href="../baiboly-andininy-selector/baiboly-andininy-selector.html">
<dom-module id="baiboly-dispatcher">
   <template>
      <style>
         :host {
            display: flex;
            flex-direction: row;
            flex-flow: row nowrap;
            justify-content: center;
         }
         .wrapper {
            display: flex;
            flex-flow: column;
            align-items: center;
         }
         baiboly-andininy-selector:first-of-type {
            margin-bottom: 1rem;
         }
         .title {
            font-size: 1rem;
            align-self: flex-start;
            margin-bottom: 0.3rem;
         }
         @media screen and (max-width: 400px){
            .title {
               margin-left: 1rem;
            }
            .title:first-of-type {
               margin-top: 0;
            }
         }

         .enRelief {
        --paper-button: {
          color: #fff;
          background-color: rgba(38, 73, 147, .8);
          text-transform: none;
        };
        width: 50%;
        max-width: 10rem;
      }

       :host paper-button.enRelief:hover {
        background-color: #264993;
      }

       :host paper-button {
        transition: background-color 0.3s ease;
      }

       :host paper-button:hover {
        background-color: rgba(38, 73, 147, .2);
      }

      </style>
      <div class="wrapper">

         <h3 class="title">Manomboka...</h3>
         <baiboly-andininy-selector boky-refs="[[bokyRefs]]" baiboly="[[baiboly]]" verse-ref="{{from}}" book="{{bookFrom}}" chapter="{{chapterFrom}}"></baiboly-andininy-selector>
         <h3 class="title">...ka hatramin'ny</h3>
         <baiboly-andininy-selector boky-refs="[[bokyRefs]]" baiboly="[[baiboly]]" verse-ref="{{to}}" book="[[bookFrom]]" chapter="[[chapterFrom]]"></baiboly-andininy-selector>
         <paper-button class="button-process enRelief" on-click="onProcessClick" raised>Ampio</paper-button>
      </div>
      </template>
   </dom-module>
<script src="./baiboly-dispatcher.ts"></script>
<!-- <script>
// import '../polymer-decorators/polymer-decorators' // needed if importing baiboly-dispatcher too,
// // because imports are hoisted according to spec, so polymer-decorators dependency is not satisfied
import './baiboly-dispatcher'

</script> -->
<!--<script src="../baiboly-puller/baiboly-puller.js"></script> -->