<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="./hira-manager/hira-manager.html">
<script src="../../../bower_components/web-animations-js/web-animations-next-lite.min.js"></script>
<dom-module id="recherche-hira">
   <template>
      <style>
        :host {
          display: block;
          height: 100%;
          width: 100%;
            --paper-dialog-title: {
               color: rgba(38, 73, 147, .8);
            };
        }
        paper-dialog {
          margin-right: 5px;
          margin-left: 5px;
        }
        hira-manager {
          padding: 0;
          margin: 0;
        }
          :host paper-button {
            margin: 1ex;
            transition: background-color 0.3s ease;
            /*         transition : all 0.3 ease-out;*/
         }

          :host paper-button:hover {
            background-color: rgba(38, 73, 147, .2);
         }

          :host paper-button.enRelief {
            color: #fff;
            background-color: rgba(38, 73, 147, .8);
            /*         transition: width,height,margin,opacity,visibility 300ms ease-out;*/
         }

          :host paper-button.enRelief:hover {
            background-color: #264993;
         }

         paper-button *[hidden=true],
          :host paper-button[hidden],
          :host * [hidden] * {
            visibility: none;
            display: none;
         }

      </style>
      

      <paper-dialog id="dialog" with-backdrop entry-animation="scale-up-animation" exit-animation="fade-out-animation" on-iron-overlay-opened="_onDialogOpen"
      on-iron-overlay-closed="_onDialogClosed">
      
      <!-- <h2>Recherche</h2>
        <paper-input id="inputHira" error-message="tsy mety!" label="ffXX, XXX pour FFPM ou anXX pour Antema" autofocus="true" required="true"
        maxlength="4" auto-validate pattern="([0-9]{1,3}|(FF|ff)([1-9]|[0-5][0-9])|(AN|an)([1-9]|[0-2][0-9]))" value="{{hiraValue}}"
        on-keydown="_onKeydown"></paper-input>
        <div class="buttons">
          <paper-button dialog-dismiss>Miala</paper-button>
          <paper-button id="validerButton" class="enRelief" hidden$="[[invalid]]" on-tap="goToHira">{{hiraValue}}</paper-button>
        </div> -->
        <hira-manager on-sections-added="close" input-hira="[[hiraValue]]" in-dialog="true" id="hiraManager" from-section="[[fromSection]]"></hira-manager>
      </paper-dialog>
    
   </template>

   <script>
      class RechercheHira extends Polymer.Element {
         static get is() {
            return 'recherche-hira';
         }

         static get properties() {
            return {
              fromSection: {
                type: Boolean,
                value: true
              },
               hiraValue: {
                  type: String
               },
               invalid: {
                  type: Boolean,
                  notify: true,
                  value: true
               }
            }
         }
         ready() {
            super.ready();
            // force invalid=true to trigger the event, otherwise the button is displayed the first time
            // this.inputElt.invalid = true;
            // this.inputElt.addEventListener('invalid-changed', this._invalidChanged.bind(this));
            //console.log('this.inputElt= ', this.inputElt);
         }


         _invalidChanged(e) {
            this._invalidChanged0.call(this, e);
         }

         _invalidChanged0(e) {
            this.invalid = e.detail.value;
            console.log('invalid-changed');
            // if(this.invalid)
            //    this.$.validerButton.setAttribute('hidden', 'true');
            // else
            //    this.$.validerButton.removeAttribute( 'hidden' );
         }
         _onKeydown(e) {
            //console.log(e.keyCode);
            if (e.keyCode === 13 && !this.invalid)
               this.$.validerButton.click();
         }

         close(){
           this.$.dialog.close();
         }

         get inputElt() {
            return this.$.inputHira.inputElement;
         }

         goToHira() {
            'use strict';
            var inputString = this.$.inputHira.value.trim();

            var ff = inputString.match(/ff/i);
            var antema = inputString.match(/an/i);
            var hiraModulo;
            var nomFichier = '';
            var numFichier = '';
            var numHira = inputString.match(/\d+/);
            numHira = numHira[0].replace(/^0+/, '');

            // nom du fichier
            if (ff) { // fihirana fanampiny
               nomFichier = 'FihiranaFanampiny.html';
               numHira = 'ff_' + numHira;
            } else {
               if (antema) {
                  nomFichier = 'fihirana800-819-antema.html';
                  numHira = 'antema_' + numHira;
               } else {

                  hiraModulo = Math.floor(parseInt(numHira) / 200) * 200;
                  nomFichier = 'fihirana';
                  numHira = 'ffpm_' + numHira;

                  // numero de fichier
                  if (hiraModulo < 200)
                     numFichier = '1-199';
                  else if (hiraModulo > 799)
                     numFichier = '800-819-antema';
                  else {
                     var dernierNum = hiraModulo + 199;
                     numFichier = hiraModulo.toString() + '-' + dernierNum.toString();
                  }
                  nomFichier += numFichier + '.html';
               }
            }

            // adresse du hira
            nomFichier += '#/' + numHira;
            var fullUrl = location.origin + location.pathname;
            //fullUrl = fullUrl.slice(0, fullUrl.lastIndexOf('/'));
            fullUrl = fullUrl.slice(0, fullUrl.lastIndexOf('/')) + "/" + nomFichier;
            location.assign(fullUrl);
            this.$.dialog.close();
         }

         open() {
            // this.$.inputHira.bindValue = '';
            this.$.dialog.open();
         }
         _onDialogOpen(e) {
            var alwaysFalse = function () {
               return false;
            };
            Reveal.configure({
               keyboardCondition: alwaysFalse
            });
            this.$.hiraManager.inputElement.select();
            // this.inputElt.inputElement.select(); //pas de curseur si dans open()
         }
         _onDialogClosed(e) {
            Reveal.configure({
               keyboardCondition: null
            })
            this.fromSection=true;
            this.$.hiraManager.inputHira = '';
         }
         
      }
      customElements.define(RechercheHira.is, RechercheHira);

   </script>

</dom-module>
