<link rel="stylesheet" href="css/theme/fihirana01.css">
<link rel="stylesheet" href="css/reveal.min.css">
<link rel="import" href="res/icons/myicons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="lib/component/hira-manager/hira-manager.html">
<link rel="import" href="lib/component/swipe-reveal.html">
<link rel="import" href="lib/component/recherche.html">
<link rel="import" href="lib/component/rechercheMotif.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="lib/component/reveal-index.html">


