<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<!-- <script src="../../node_modules/web-animations-js/web-animations.min.js"></script> -->
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<dom-module id="baiboly-andininy-selector">
   <template>
      <style>
         :host {
            display: block
         }
      </style>

      <paper-dropdown-menu label="Boky" selected-item="{{selectedBook}}" on-selected-item-changed="onBookSelected">
   <paper-listbox slot="dropdown-content" selected="{{book}}" attr-for-selected="data-id">
      <template is="dom-repeat" items="{{books}}" as="bookIt">
         <paper-item data-id$="[[bookIt.id]]" data-idx$="[[index]]">{{bookIt.label}}</paper-item>
      </template>
   </paper-listbox>
</paper-dropdown-menu>
<paper-dropdown-menu label="Toko" selected-item="{{selectedChapter}}" on-selected-item-changed="onChapterSelected">
   <paper-listbox slot="dropdown-content" selected="{{chapter}}" attr-for-selected="data-id">
      <template is="dom-repeat" items="{{dropdownChapters}}" as="chapter">
         <paper-item data-id$="[[chapter.id]]" data-idx$="[[index]]" data-book-idx$="[[selectedBook.dataset.idx]]">[[__addOne(index)]]</paper-item>
      </template>
   </paper-listbox>
</paper-dropdown-menu>
<paper-dropdown-menu label="Andininy">
   <paper-listbox slot="dropdown-content" selected="{{verseRef}}" attr-for-selected="data-id">
      <template is="dom-repeat" items="{{dropdownAndininy}}" as="verse" id="versesRepeater">
         <paper-item data-id$="[[verse.id]]" data-idx$="[[verse.idx]]" data-book-idx$="[[selectedBook.dataset.idx]]" data-chapter-idx$="[[selectedChapter.dataset.idx]]">[[verse.idx]]</paper-item>
      </template>
   </paper-listbox>
</paper-dropdown-menu>

   </template>
   <script src="./baiboly-andininy-selector.ts"></script>

</dom-module>
