<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">

   <title>Projection FPMA Orléans</title>

   <meta name="description" content="Tononkira sy baiboly en format diaporama reveal.js">
   <meta name="author" content="Hary Razafitrimo">

   <link rel="manifest" href="manifest.json">

   <meta name="mobile-web-app-capable" content="yes">
   <meta name="application-name" content="Projection-FPMAO">
   <meta name="apple-mobile-web-app-title" content="projection-fpmao">
   <meta name="theme-color" content="#4800ff">
   <meta name="msapplication-navbutton-color" content="#4800ff">
   <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
   <meta name="msapplication-starturl" content="/index.html">

   <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

   <!-- <link rel="stylesheet" href="css/reveal.min.css">
	<link rel="stylesheet" href="css/theme/fihirana01.css"> -->
   <link rel="icon" type="image/png" href="res/icons/icon-192x192.png" size="192x192">
   <link rel="icon" type="image/png" href="res/icons/icon-96x96.png" size="96x96">

   <!--<link rel="prefetch" href="fihirana.json" as="fetch">
	<link rel="prefetch" href="fihirana.html" as="fetch">-->
   <link rel="preload" type="font/woff2" href="lib/font/open-sans/fonts/Semibold/OpenSans-Semibold.woff2?v=1.1.0" as="font"
      crossorigin>
   <link rel="preload" type="font/woff2" href="lib/font/open-sans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0"
      as="font" crossorigin>
   <link rel="preload" type="font/woff2" href="lib/font/playfair-display/PlayfairDisplay-Bold.woff2" as="font" crossorigin>

   <!-- Code syntax highlighting -->
   <!--<link rel="stylesheet" href="lib/css/zenburn.css"> -->


   <script>
      if (navigator.serviceWorker) {
         navigator.serviceWorker.register('/sw.js')
            .catch(function(err) {
               console.error('Unable to register service worker.', err);
            });
      }

   </script>
   <!-- Printing and PDF exports -->
   <script>
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.media = 'print';
      link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName('head')[0].appendChild(link);

   </script>
   <script>
      function extractInputValue(inputId) {
         var input = document.getElementById(inputId);
         return input.value.trim();
      }

   </script>
   <style>
      .slides.noFoucPls {
         /*display: none;*/
         visibility: hidden;
         opacity: 0;
      }

      .slides {
         transition: visibility 250ms cubic-bezier(0.81, 0.47, 0.29, 0.73);
         transition: opacity 250ms cubic-bezier(0.71, 0.18, 0.56, 0.99);
      }

      .controls {
        pointer-events: none
      }
      .controls .enabled {
        pointer-events: visiblePainted;
      }

      #reveal__after {
         opacity: 0;
         visibility: hidden;
         /* background-image: url("res/logo.svg"); */
         /* background-position: 50%;
			background-size: contain;
			background-repeat: no-repeat; */
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         z-index: 100;
         position: absolute;
         transition: opacity 250ms cubic-bezier(0.71, 0.18, 0.56, 0.99), visibility 500ms;
      }

      #reveal__after>svg {
         width: 100%;
         height: 100%;
      }

      .reveal.noFoucBckg>#reveal__after {
         content: "";
         opacity: 1;
         visibility: visible;
      }

      .retourRecherche i,
      .retourRecherche__icon {

         position: fixed;
         right: 54px;
         bottom: 54px;
         color: #00194d;
         opacity: .7;
         z-index: 31;
         cursor: alias;
      }

      .reveal section img {
         border: 0;
      }

      /* IMPORTANT : necessary to work around [iron-flex-layout's IE10's hidden workaround] */

      .future[hidden],
      .past[hidden] {
         display: flex !important;
      }

      .reveal .slides>section.recherche {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         box-sizing: border-box;
         /*for firefox*/
      }

      .reveal .slides>section.recherche recherche-motif {
         overflow: auto;
         padding: 1ex;
         min-width: 320px;
         padding: 1em;

      }

      #zipLink {
         font-size: 1rem;
         text-align: left;
         /* margin: 0 3rem; */
         flex: 1 0 100%;
         margin-bottom: 5px;
      }

      #mifidy-hira {
         flex-flow: column nowrap;
         flex: 1;
         align-items: stretch;
      }

      .section__title {
         width: 100%;
         font-size: 3rem;
      }

      .flex-1 {
         flex: 1;
      }

      .vertical-center {
         display: flex;
         flex-flow: row wrap;
         align-items: center;
         justify-content: center;
      }

      hira-manager {
         flex: 5;
         align-items: flex-start;
      }

      #logo-fpmao {
         width: 100%;
         height: 55%;
         box-sizing: border-box;
      }

      #logo-fpmao>svg {
         width: 100%;
         height: 100%;
      }

      .logo-menu {
         position: absolute;
         top: 0;
         left: 0;
         filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
         cursor: context-menu;
         z-index: 1;
      }

      #logo-menu {
         width: 50px;
         height: 40px;
      }

      app-drawer {
         z-index: 2;
      }
      #mifidy-vakiteny {
        padding-top: 1rem;
        overflow: auto;
        padding-bottom: 9rem;
      }

   </style>
   <style id="criticalPath">
      .future {
         visibility: none;
      }

   </style>
   <!--[if lt IE 9]>
                        <script src="lib/js/html5shiv.js"></script>
								<![endif]-->
   <!--
      Feature detect Custom Elements support. If the browser DOES support Custom
      Elements then we need to load the custom-elements-es5-adapter because
      our project code has been transpiled from ES2015 to ES5 and native Custom
      Elements expect elements will be registered as classes.
    -->
   <div id="ce-es5-shim">
      <script type="text/javascript">
         if (!window.customElements) {
            var ceShimContainer = document.querySelector('#ce-es5-shim');
            ceShimContainer.parentElement.removeChild(ceShimContainer);
         }

      </script>
      <script type="text/javascript" src="bower_components/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    </div>
      <script>
        function removeFoucPreventer(){
          document.querySelector(".slides.noFoucPls").classList.remove("noFoucPls");
          document.querySelector(".reveal.noFoucBckg").classList.remove("noFoucBckg");
          const critPath = document.querySelector('#criticalPath');
          const cPParent = critPath.parentElement;
          cPParent.removeChild(critPath);
      }
        (function() {
          document.addEventListener('WebComponentsReady', function componentsReady() {
            document.removeEventListener('WebComponentsReady', componentsReady, false);
            var refScript = document.getElementsByTagName('script')[0];
            <% for(let i=0; i < htmlWebpackPlugin.options.chunkOrder.length; i++) { %>
            <% let s = htmlWebpackPlugin.options.chunkOrder[i] %>
              (function() {
              var script = document.createElement('script');
              script.src = '<%= s %>.js';
              script.async = false;
              <% if(i == htmlWebpackPlugin.options.chunkOrder.length -1 ) { %>
                script.onload = removeFoucPreventer;
              <% } %>
              refScript.parentNode.insertBefore(script, refScript);
            })();
            <% } %>
            // removeFoucPreventer();
            if(!('registerElement' in document) || !('import' in document.createElement('link'))) {
              ~function(){
                const style = document.createElement('style');
                // appendChild expects an object in Firefox
                // style.appendChild(`
                //   .future[hidden],
                //   .past[hidden] {
                //     display: flex !important;
                // }`);
                style.appendChild(new Text(`
                  .future[hidden],
                  .past[hidden] {
                    display: flex !important;
                }`));

                document.body.appendChild(style)
              }();
            }
              }, false);
        })();
      </script>
      <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
</head>

<body>
   <svg style="display:none;" xmlns="http://www.w3.org/2000/svg" id="svg-container" width="484.466" height="382.519">
      <symbol id="logosvg" viewBox="10 0 480 380">
         <path d="M167.315 20.7c-11.648.124-23.657 2.034-34.427 5.964l67.23-.075c-5.8-4.64-14.16-4.78-21.334-5.43-3.743-.35-7.586-.51-11.47-.46zm-41.552 11.112c-8.978-.045-17.53.633-22.98 6.777h128c-4.132-6.42-10.32-6.63-17.332-6.67h-78.66c-2.99 0-6.02-.1-9.02-.11zm108.263 11.815c-3.462-.05-7.187.296-11.242.296H158.41a34.285 34.284 0 0 1 8.795 6.108c5.48 1.41 11.508.56 18.246.56h64c-4.61-5.7-9.65-6.88-15.42-6.96zm-123.242.296c3.25 6.222 3.246 6.698 8.504 6.53a34.285 34.284 0 0 1 9.236-6.53zM84.328 55.796c-5.838-.044-9.954.787-13.544 8.127 16.253 0 19.2 1.626 20-8-2.373 0-4.51-.113-6.456-.127zm89.123.127c2.63 8.64 6.7 7.986 14.67 8h74.67c-4.08-8.32-7.56-7.987-16-8zm-58.85.3l-4.09.014c-1.86 1.937-2.4 4.925-3.08 7.236l2.87-.002c.66-1.9 1.76-3.47 3-4.96a34.285 34.284 0 0 1 1.31-2.28zm-6.31 12.714c-2.5.047-2.76 2.2-3.53 6.682l2.63-.28c.4-1.99.48-3.44 1.44-6.39-.18-.02-.36-.02-.53-.02zm35.92.22c-3.47-.002-6.93.74-8.45 2.232-1.49 1.45-1.64 2.76-2.29 4.53h21.33c-.58-1.82-.58-3.04-2.12-4.54-1.52-1.48-4.99-2.23-8.46-2.23zm115.75.595c-.82-.022-1.69-.022-2.61.008h-77.22v6.163h93.34s-1.17-5.837-13.5-6.17zm-196.42.008l-3.41 6.692h22.84l3.82-6.692zm43.3 10.898c-3.15-.123-2.39 4.35-3.2 7.275l2.96-.046zm162.09.192c-3.29 0-6.81.406-10.12.406h-68c-6.73.04-9.39-.6-10.67 6.667h101.33c-2.2-5.96-7.05-7.075-12.54-7.073zm-136.79.498v6.575c4.15 0 23-.082 23-.082l-.05-6.49h-22.95zm-76.77.198c-2.17 1.48-2.4 4.03-3.22 6.258H78.5l4.436-6.258zm210.46 11.527c-4.65.04-8.89.183-11.02.183H152.12c3.89 7.314.465 6.818 34.668 6.667H288.12c-.852-2.227-1.04-3.63-3.226-5.11-2.38-1.6-11.32-1.808-19.08-1.74zm-217.13.34c-2.19 1.587-2.38 4.447-3.23 6.674h27.7l4.3-6.673zm54.56 1.106c1.86 6.93 5.27 5.52 5.88 5.52l.05-.01v-2.79s10.42.09 20.36.01l.06-2.74h-26.34zm-59.37 11.16l-2.42 6.23c5.27 0 17.54.01 17.54.01 3.69-.65 6.95-3.05 9.13-6.25H43.87zm241.02.76c-.47-.01-.97-.01-1.49 0-1.38.03-2.91.13-4.61.13 3.51 5.38 5.29 5.13 13.34 5.33-1.57-4.49-3.9-5.39-7.23-5.47zm-124.76.13c2.1 6.6 4.47 5.37 21.34 5.33h64c6.227-.04 8.72.48 12-5.34zM47.19 118.21c-4.744.02-8.69 1.16-9.723 7.03 8.19 0 14.11 1.374 18.67-6.666-2.96 0-6.09-.39-8.94-.37zm117.014.35l.05 6.78 3.825-.1.05-6.667-3.93-.02zm3.74 12.012l-9.9.002-.047 6.4h9.99l-.045-6.41zm-123.814.002c-6.467.21-7.814.04-9.334 6.66 6.614.862 7.88-.23 9.334-6.67zM38.2 142.93c-2.2-.028-4.1 2.234-4.75 7.652h12c-1.883-4.647-4.76-7.62-7.25-7.653zm119.36.042l-.016.986H133.45v6.624h54.763l-.106-7.61H157.56zm-64.11 1.143c4.187 4.91 5.27 6.53 8.205 6.575 2.642.042 5.104-2.703 6.462-6.575zm9.074 10.416l4.26 6.72v-6.66zm-55.28.02c-.993.01-2.033.03-3.127.03-2.306.02-6.652-.19-8.48 1.36-.825.7-1.225 1.56-1.2 2.66.16 4.8 7.84 3.99 11.014 3.99h17.34c-3.96-7.6-8.58-8.06-15.54-8.02zm140.873.03l-54.63.28v7.58l54.63.14zM34.784 167.92c1.16 6.574 2.933 6.547 9.333 6.667h40c-3.48-6.146-6.6-6.546-13.333-6.666zm98.667 0v6.667h8v-6.666zm-96 12l3.09 6.655 43.65-.377-.06-6.277H37.45zm96 0l.02 5.638 7.82.013s.21-5.6.17-5.64h-8zm146.67 0c-6.46.84-8.86 2.507-13.33 7.334h12zm-16.05 11.836c-3.38.036-6.39.235-7.72.525-6.22.98-8.56 6.64-8.56 6.64l33.67-.33c-.88-2.01-1.41-3.96-3.34-5.3-1.7-1.19-8.39-1.58-14.04-1.52zm-74.53.085l-21.41.08v6.67c18.7 0 15.32.39 21.42-6.74zm-48.08.08l-7.83.13-.02 5.85h7.86v-5.97zm-57.42 1s-44.23.47-43.91.34l2.73 6.14h41.27c.4-4.78-.09-6.46-.09-6.46zm195.01 10.8c-3.76-.04-10.06.21-24.25.21-7.38.02-11.68-1.08-14.66 6.67 7.96 2.27 19.5 1.34 28 1.12h14.52c3.82-1.26 4.26-3.13 5.48-6.45-4.08-1.16-5.32-1.49-9.08-1.53zm-137.58.21l-7.51.06s-1.47 4.87.04 6.37c1.72 1.72 7.29 0 7.29 0l.19-6.42zm26.67 0l-.14 6.17c8.61.16 7.78-.16 11.51-6.17zm-100.75.7c-5.39 0-12.5.08-21.91.08l4.3 5.83h35.7c-1.13-5.25-1.89-5.9-18.08-5.9zm127 .2c-2.42 2.63-8.12 7.18-9.4 9.72 4.66 9.98-6.24 5.47.49 18.73 11.27-.85 4.52-16.02 12-14.67zm-52.91 11.11l-5.33 1.34 5.2 6.6zm26.66.02c0 1.65.2 5.72.2 5.72 1.24-1.59 1.83-3.99 2.4-5.7 0 0-2.04 0-2.6-.01zm77.35.39c-7.21.14-9.8-.08-12 7.16h43.698l4.31-7.15zm-194.662.47c3.08 5.43 6.5 6.48 11.845 6.69 9.584.36 25.49 0 25.49 0l-4.36-6.69s-32.95-.01-32.972 0zm182.67 12.47l.4 5.89c10.9.25 24.034 0 35.4 0l4.2-5.88zm-173.335.21l6.017 7.07H95.1l-6.163-7.06zm10.66 11.68c1.3 2.22 4.46 5.24 6.044 7.26h34.49l-7.536-7.26zm164 .1v6.67c9.627 0 23.813 3.06 29.333-6.66zm1.333 12c1.88 11.22 10.59 7.23 14.67 0zm-153.33.31l6.36 6.74h34.586l-6.33-6.74zm36.367 11.65c-1.19 0-2.27.05-3.034.05h-14.67c5.35 8.91 20.656 9.75 24.32 6.68.8-.66 1.32-1.61 1.36-2.66.12-3.6-4.42-4.054-7.98-4.06z"
            fill="#0f3193" opacity=".99" />
         <path d="M212.69 128.1c7.936 6.56 11.385 18.61 10.916 28.897-.38 8.316-4.33 17.372-10.917 22.46-12.5 9.648-26.8 9.265-46.44 9.265v61.333h-24.27v-81.6h30.66c5.46 0 14.36-.154 18.45-1.933 4.51-1.645 7.87-6.86 7.87-12.168 0-5.308-4.44-8.48-7.3-9.996-4.09-2.17-11.59-2.303-23.03-2.303v-21.6c23.97 0 32.55-1.848 44.03 7.644zm104.395-11.273c-3.664.005-7.27.512-10.7 1.566-11.327 3.48-12.4 6.77-15.034 6.7-3.03-.08-6.42-4.62-17.9-6.7-13.28-2.386-35.16 1.534-40.8 15.4-1.54 3.8-1.33 10.107-1.33 14.134v47.466h21.6v-39.466c.03-4.48 1.04-7.93 2.47-10.218 1.43-2.29 5.05-6.43 12.07-6.43s10.55 4.25 12.2 6.78c1.65 2.52 2.32 6.4 2.34 11.2v38.13h20.27v-36.8c-.1-2.48 0-2.89 0-5.3 0-8.4 6.81-14.4 15.2-14.4 8.21 0 14.87 5.7 15.17 13.83.01.19.04.37.04.56h-.03c.04 1.15.03 2.41.04 3.96v38.13h21.6v-31.46c0-11.97 1.94-26.81-7.66-35.9-7.2-6.82-18.51-11.22-29.5-11.2z"
            stroke-width=".534" fill="none" stroke="#0f3193" />
         <g fill="none" stroke-width=".533">
            <path d="M143.45 40.456a34.285 34.284 0 0 0-34.285 34.285v12.3h21.952v-12.3a12.334 12.334 0 0 1 12.333-12.33 12.334 12.334 0 0 1 12.334 12.34v12.29h21.952v-12.3a34.285 34.284 0 0 0-34.286-34.28z"
               stroke="#313492" stroke-linecap="square" />
            <path d="M405.24 115.392c-21.663 0-43.046 13.223-44.56 37.758-.464 7.517 1.563 14.542 5.293 21.035 12.648 21.994 41.512 25.66 62.965 15.553v5.36h22.754V147.1h-.002c-.033-19.306-23.405-31.708-46.45-31.708zm.943 20.648h.002c7.595-.073 17.012 2.18 20.81 8.198.593 1.028.823 1.398.978 2.687.156 1.297.163 3.513.08 7.73-.08 4.222-.165 7.046-.3 8.903-.137 1.858-.388 2.753-.484 2.92a1.117 1.117 0 0 0-.07.128c-1.37 3.29-4.93 5.778-9.16 7.338-4.23 1.56-9.05 2.175-12.53 1.962-10.28-.633-17.68-5.99-20.87-12.64-3.18-6.638-2.25-14.538 4.46-20.814 5.49-4.18 11.08-6.347 17.06-6.412zm-296.74-38.2v22.21h-25.44v22.275h25.44c-.008 10.667 0 53.805 0 70.727 9.16-.083 8.13 0 21.4 0v-70.727h25.38V120.05H130.84V97.84c-10.13.11-21.398 0-21.398 0z"
               stroke="#0f3193" />
         </g>
         <path d="M405.285 117.354c-20.597 0-40.927 12.572-42.367 35.9-.44 7.146 1.487 13.826 5.033 20 12.62 21.933 42.22 24.746 62.84 13.333v6.667h18.67V147.54c0-18.378-22.24-30.186-44.16-30.186zm.933 16.133c8.356-.08 18.833 2.275 23.267 9.333 1.3 2.254 1.474 2.738 1.3 11.767-.175 9.03-.366 12.1-1 13.2-3.307 7.96-16.494 11.147-24.334 10.667-22.72-1.4-33.3-23.794-18.23-37.834 6.05-4.612 12.31-7.06 19-7.133zm-199.434-6.272c18.734 11.667 19.76 40.187 1.32 52.56-11.466 7.693-30.373 6.423-43.986 6.423v61.724h-20v-77.334h30.667c5.466 0 12.386.6 17.32-1.933 9.626-4.973 13.733-18.44 1.333-26.053-6.014-3.694-15.667-2.68-22.653-2.68v-17.334c12.093 0 25.293-2.04 36 4.627zm26.666 20.707c0-4.027-.2-8.2 1.348-12 5.64-13.867 25.373-17.774 38.653-15.387 11.48 2.08 14.86 6.6 17.9 6.68 3.04.08 1.56-1.7 15.03-6.69 13.47-4.986 33.93.773 41.55 13.232 4.53 8.163 4.2 18.544 4.2 30.165v29.333h-17.34v-36c-.01-4.8.36-9.067-2.32-13.333-3.4-5.53-9.23-7.572-15.01-7.572-5.78 0-11.6 2.445-14.78 7.838-2.76 4.6-2.52 9.267-2.54 14.4v34.667h-16v-36c-.01-4.8.36-9.067-2.32-13.333-6.61-10.01-22.22-10.29-28.69 0-2.51 3.973-2.3 7.52-2.32 12v37.333h-17.34zM111.58 99.866v22.616H86.247v17.788h25.333c-.007 9.428 0 53.758 0 70.666 8.014-.08 5.18 0 16.79 0V140.27h25.278v-17.788c-10 0-16.226.095-25.277 0V99.866c-8.86.1-16.79 0-16.79 0zm31.87-57.776a32.65 32.65 0 0 0-32.65 32.65h-.02v10.495h18.73V74.74a13.94 13.94 0 0 1 13.94-13.938 13.94 13.94 0 0 1 13.94 13.94v10.493h18.71V74.74a32.65 32.65 0 0 0-32.65-32.65z"
            fill="#313492" />
         <path style="line-height:normal;-inkscape-font-specification:Sans;text-indent:0;text-align:start;text-decoration-line:none;text-transform:none"
            d="M210.043 299.324c-3.884.403-4.052 5.126-3.635 8.12.183 19.004-.365 38.074.283 57.037 1.32 3.79 7.76 2.74 7.7-1.3-.17-20.43.42-40.96-.3-61.33-.61-1.58-2.34-2.68-4.04-2.52zm-72.277-.07c-17.396.006-32.89 15.538-32.924 32.925-.65 16.57 12.47 32.26 28.974 34.29 15.63 2.38 31.93-7.43 36.844-22.51 5-14.24-.83-31.5-13.772-39.36-5.628-3.65-12.392-5.54-19.122-5.35zm1.432 7.98c13.578-.03 25.75 12.39 25.276 26.015.045 13.23-11.33 25.22-24.552 25.59-12.567.7-24.82-8.82-26.708-21.39-2.17-11.99 5.185-25.02 16.872-28.76 2.917-1.03 6.015-1.46 9.112-1.47zm229.466 17.34c-8.047-.337-15.783 8.16-12.764 16.162 1.946 5.97 8.373 9.165 14.37 9.08 3.068.262 6.102 3.844 3.73 6.627-2.94 3.957-11.332 2.554-10.97-3.1-.63-3.973-7.363-4.19-7.806 0-.965 7.955 7.363 14.176 14.825 13.424 7.56-.26 14.71-7.93 12.24-15.66-1.69-6.167-8.22-9.687-14.34-9.6-10.58-1.897-.11-13.68 5.73-7.224 1.9 1.654.53 4.92 3.08 6.138 2.65 1.96 6.67-.39 6.1-3.73.03-7.26-7.4-12.47-14.21-12.11zm-51.826.246c-3.868.423-4.04 5.12-3.62 8.104.194 10.5-.397 21.068.3 31.524 1.296 3.784 7.74 2.738 7.695-1.29.378-7.983-.674-16.136.536-24.017 2.76-6.61 12.82-8.45 17.43-2.73 2.95 3.07 2.41 7.22 2.41 14.68 0 10.21-.59 10.65.65 14.07 2.04 3.42 8.08 1.21 7.31-2.77 0-10.46.51-16.26-.38-24.25-2.85-10.23-15.64-16.38-25.34-11.49-1.3.36-2.86 2.5-3.15.32-.73-1.4-2.29-2.31-3.88-2.12zm-120.434.046c-3.703-.09-7.578 1.638-10.435 3.18-.84-3.432-6.17-4.298-7.48-.74-1.34 3.51.1 7.342-.44 10.985.13 8.72-.38 17.52.28 26.19 1.29 3.79 7.74 2.74 7.69-1.29.3-7.82-.52-15.78.41-23.51 1.88-4.79 7.19-6.99 11.96-7.14 4.2-1.63 2.46-8.17-2-7.66zm91.834-.156c-12.558-.11-23.022 12.975-20.13 25.198 2.018 10.99 13.73 18.638 24.663 16.588 2.48-.222 5.05-1.266 7.34-1.558 1.94 3.34 7.92 1.537 7.38-2.424-.12-8.902.37-17.888-.25-26.74-3.61-6.84-11.21-11.36-18.99-11.064zm.22 8.01c4.38-.082 9.37 2.217 11.008 6.25-.195 5.82.42 11.818-.274 17.532-6.84 3.262-16.503 3.573-21.184-3.29-4.92-6.82-1.328-17.993 7.098-19.97 1.092-.36 2.214-.484 3.352-.52zm-47.923-8.036c-12.56-.127-23.052 12.988-20.114 25.228 1.99 10.905 13.65 18.63 24.53 16.59 6.25-.72 13.42-2.677 16.94-8.295 1.41-3.81-4.29-7.136-6.84-3.84-5.47 4.424-13.99 5.832-20.35 2.69-2.78-1.572-5-4.29-5.98-7.38 10.36-.222 20.89.536 31.15-.394 3.67-2.143 1.85-7.03 1.09-10.262-2.76-8.51-11.37-14.73-20.39-14.33zm.55 7.995c5.505-.09 10.654 3.82 12.277 9.03-8.205-.07-16.414.21-24.615-.11 1.67-5.22 6.854-9.03 12.34-8.93zm9.07-17.98a2.006 2.006 0 0 0-.164.05l-16.54 4.46a2.006 2.006 0 1 0 1.04 3.86l16.55-4.46a2.007 2.007 0 1 0-.87-3.92z"
            overflow="visible" color="#000" font-family="Sans" fill="#1c3385" />
      </symbol>
   </svg>

   <div class="reveal noFoucBckg">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides noFoucPls">

         <section class="accueil present" id="accueil-logo">
            <img src="res/enTeteAfficheFPMAOCentreRoundSketchTraits--1080w.jpg" alt="FPMA Orléans" style="max-height:20%" size="90vw"
               srcset="res/enTeteAfficheFPMAOCentreRoundSketchTraits--2160w.jpg 2160w, res/enTeteAfficheFPMAOCentreRoundSketchTraits--1440w.jpg 1440w, res/enTeteAfficheFPMAOCentreRoundSketchTraits--720w.jpg 720w">
            <!-- <img src="res/logo1.5StdCentre.jpg" alt="FPMA Orléans" style="max-height:75%"
				sizes="(min-width: 720px) 75vw" srcset="res/logo1.5StdCentre--720w.jpg 720w, res/logo1.5StdCentre--400w.jpg 400w"> -->
            <div id="logo-fpmao" class="img">
               <svg>
                  <use xlink:href="#logosvg" />
               </svg>
            </div>

            <div id="zipLink">
               <a href="fihirana-revealjs.zip">Rohy version zip</a>
            </div>
         </section>
         <section class="recherche future">
            <h2 class="section__title">Fitadiavana tononkira</h2>
            <recherche-motif filepath-to-search-in="fihirana.html"></recherche-motif>
         </section>
         <dom-bind id="baiboly-bind">
            <template>
               <section id="mifidy-vakiteny">
                 <h2 class="section__title">Mifidy vakiteny</h2>
                  <baiboly-dispatcher sequences="{{sequences}}"></baiboly-dispatcher>
               </section>
               <template is="dom-repeat" items="{{sequences}}">
                  <section id="vakiteny-[[index]]">
                     <baiboly-sequence verses="[[item]]"></baiboly-sequence>
                  </section>
               </template>
            </template>
         </dom-bind>
         <section id="mifidy-hira" class="future">
            <h2 class="section__title flex-1 vertical-center">Mifidy ny hira</h2>
            <hira-manager></hira-manager>
         </section>
      </div>
      <aside class="retourRecherche">
         <iron-icon class="retourRecherche__icon" onclick="openRecherche()" icon="myicons:queue-music"></iron-icon>
      </aside>
      <recherche-hira id="rechercheHira"></recherche-hira>
      <!-- <iron-icon id="logo" icon="myicons:fpmao-logo"></iron-icon> -->
      <swipe-reveal></swipe-reveal>
      <dom-bind>
         <template>
            <app-drawer id="drawer" align="left" swipe-open opened="{{opened}}">
               <reveal-index displayed="{{opened}}"></reveal-index>
            </app-drawer>
         </template>
      </dom-bind>
      <aside class="logo-menu">
         <svg id="logo-menu">
            <use xlink:href="#logosvg" />
         </svg>
         <paper-ripple recenters></paper-ripple>
      </aside>
      <div id="reveal__after">
         <svg>
            <use xlink:href="#logosvg" />
         </svg>
      </div>
   </div>


   <!-- <script src="lib/js/head.min.js"></script> -->
   <script src="js/reveal.min.js"></script>

   <script>
      openRecherche = function() {
         document.getElementById('rechercheHira').open();
         // window.location.hash = '#/mifidy-hira';
      };
      document.querySelector('.logo-menu').addEventListener('click', function openDrawer(e) {
         document.querySelector('app-drawer').open();
      });
      const domBind = document.querySelector('dom-bind');
      domBind.opened = false;

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
         // Display controls in the bottom right corner
         controls: true,
         // Display a presentation progress bar
         progress: true,
         // Set default timing of 2 minutes per slide
         defaultTiming: 120,
         // Push each slide change to the browser history
         history: true,
         // Vertical centering of slides
         center: false,


         // Display the page number of the current slide
         slideNumber: false,

         // Enable keyboard shortcuts for navigation
         keyboard: true,

         // Enable the slide overview mode
         overview: true,

         // Enables touch navigation on devices with touch input
         touch: false,

         // Loop the presentation
         loop: false,

         // Change the presentation direction to be RTL
         rtl: false,
         // Randomizes the order of slides each time the presentation loads
         shuffle: false,

         // Turns fragments on and off globally
         fragments: false,

         // Flags if the presentation is running in an embedded mode,
         // i.e. contained within a limited portion of the screen
         embedded: false,
         // Flags if we should show a help overlay when the questionmark
         // key is pressed
         help: true,
         // Flags if speaker notes should be visible to all viewers
         showNotes: false,

         // Global override for autolaying embedded media (video/audio/iframe)
         // - null: Media will only autoplay if data-autoplay is present
         // - true: All media will autoplay, regardless of individual setting
         // - false: No media will autoplay, regardless of individual setting
         autoPlayMedia: null,
         // Number of milliseconds between automatically proceeding to the
         // next slide, disabled when set to 0, this value can be overwritten
         // by using a data-autoslide attribute on your slides
         autoSlide: 0,
         // Stop auto-sliding after user input
         autoSlideStoppable: true,
         // Use this method for navigation when auto-sliding
         autoSlideMethod: Reveal.navigateNext,


         // Enable slide navigation via mouse wheel
         mouseWheel: false,
         // Hides the address bar on mobile devices
         hideAddressBar: true,
         // Opens links in an iframe preview overlay
         previewLinks: true,

         // Transition style
         transition: 'slide', // none/fade/slide/convex/concave/zoom

         // Transition speed
         transitionSpeed: 'default', // default/fast/slow

         // Transition style for full page slide backgrounds
         backgroundTransition: 'fade', // none/fade/slide/convex/concave/zoom

         // Number of slides away from the current that are visible
         viewDistance: 3,

         // Parallax background image
         parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

         // Parallax background size
         parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"
         // Number of pixels to move the parallax background per slide
         // - Calculated automatically unless specified
         // - Set to 0 to disable movement along an axis
         parallaxBackgroundHorizontal: null,
         parallaxBackgroundVertical: null,

         // The "normal" size of the presentation, aspect ratio will be preserved
         // when the presentation is scaled to fit different resolutions. Can be
         // specified using percentage units.
         width: '100%', //960,
         height: '100%', //700,

         // Factor of the display size that should remain empty around the content
         margin: 0,

         // Bounds for smallest/largest possible scale to apply to content
         minScale: 0.2,
         maxScale: 1.5,
         // The display mode that will be used to show slides
         display: 'flex',

         // Optional reveal.js plugins
         dependencies: [
            // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
            // {
            // 	src: 'lib/js/classList.js',
            // 	condition: function () {
            // 		return !document.body.classList;
            // 	}
            // },
            // Interpret Markdown in <section> elements
            // {
            //    src: 'plugin/markdown/marked.js',
            //    condition: function () {
            //       return !!document.querySelector('[data-markdown]');
            //    }
            // },
            // {
            //    src: 'plugin/markdown/markdown.js',
            //    condition: function () {
            //       return !!document.querySelector('[data-markdown]');
            //    }
            // },
            // Syntax highlight for <code> elements
            //{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
            // Zoom in and out with Alt+click
            //{ src: 'plugin/zoom-js/zoom.js', async: true },
            // Speaker notes
            // { 

            // Remote control your reveal.js presentation using a touch device
            //               { src: 'plugin/remotes/remotes.js', async: true },

            // MathJax
            //               { src: 'plugin/math/math.js', async: true }
         ]
      });
        // Reveal.addEventListener('ready', function(event) {
          // removeFoucPreventer();

      
   </script>
<!--
      Use the webcomponents-loader script which will feature detect which Web
      Components features are missing and lazy load the appropriate polyfills.
      When we hear the 'WebComponentsReady' event from the polyfill bundle we can
      insert our 'bundle.js'.
    -->
    

   <% for(let s of htmlWebpackPlugin.options.chunkOrder) { %>
      <!--<script src="<%= s %>.js"></script>-->
   <% } %>
   <script>
      const baibolyBind = document.querySelector('#baiboly-bind');
      baibolyBind.sequences = [];
   </script>

</body>

</html>
