<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../scroller-ko/scroller-ko.html">

<dom-module id="baiboly-sequence">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        overflow: auto;
      }

      .book__outer {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
      }

      .book {
        font-size: calc( var(--chapter-font-size) + 2px );
        flex: 1 0 40%;
        font-family: var(--title-font-family);
        margin: 0.5rem;
        color: var(--title-color);
      }

      .verses__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 5rem;
        margin-left: 1ex;
        margin-right: 1ex;
      }

      .verses__line {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }

      .verse__column {
        flex: 1;
      }

      .verse__column:nth-of-type(odd) {
        margin-right: 1ch;
      }

      .chapter {
        font-size: var(--chapter-font-size);
        font-family: var(--title-font-family);
        margin: 0.5rem;
        color: var(--title-color);
      }

      .verse {
        text-align: left;
        margin: 0;
        margin-bottom: 0.3rem;
      }

      .verse__index {
        font-size: calc( var(--baiboly-verse__fontSize) - 0.5rem);

      }

      .verse__content {
        font-size: var(--baiboly-verse__fontSize);
      }

      .buttons {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.25rem;
      }

      .buttons--absolute {
        position: absolute;
      }

      .buttons--relative {
        position: relative;
      }

      .font-sizer__container {
        padding: 1rem;
      }

      .font-sizer {
        font-size: 1rem;
        flex: 0;
        padding: 1rem;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(150, 150, 150, 0.2));
        border: solid 1px rgba(50, 50, 50, 0.1);
        box-shadow: 1px 1px 3px -2px rgba(100, 100, 100, 0.2);
        background-color: rgb(0, 77, 255);
        margin: 0 0.2rem;
        --paper-button: {
          min-width: 3rem;
        }
      }

      .header {
        margin: 0;
        line-height: 1;
        flex: 0 0 auto;
        display: flex;
        padding: 0 0.75rem;
        flex-flow: row wrap;
        position: relative;
        justify-content: flex-end;
        align-items: center;
      }

      :host(.scrolled) .header::after {
        opacity: 1;
      }

      .header::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10px;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition-delay: 0s;
        transition-duration: 50ms;
        transition-property: opacity;
        transition-timing-function: ease-in;
      }

      .title {
        flex: 1 0 100%;
        color: var(--title-color);
        font-size: var(--title-font-size);
        font-weight: var(--title-font-weight);
        font-family: var(--title-font-family);
        line-height: 1;
        margin: 1rem;
      }

    </style>
    <scroller-ko elt="[[_this]]"></scroller-ko>
    <div class="header">
      <h3 class="title">{{title}}</h3>
      <div class="buttons buttons--absolute">
        <paper-menu-button vertical-align="top" horizontal-align="right" dynamic-align>
          <paper-icon-button slot="dropdown-trigger" icon="myicons:format-size" alt="police"></paper-icon-button>
          <div class="buttons font-sizer__container" slot="dropdown-content">
            <paper-button class="font-sizer font-sizer--decrease" on-tap="decreaseFontSize">-</paper-button>
            <paper-button class="font-sizer font-sizer--increase" on-tap="increaseFontSize">+</paper-button>
          </div>
        </paper-menu-button>
        <!-- <button class="font-sizer font-sizer--decrease" on-tap="decreaseFontSize">-</button>
            <iron-icon icon="myicons:format-size"></iron-icon>
            <button class="font-sizer font-sizer--increase" on-tap="increaseFontSize">+</button> -->
      </div>
    </div>

    <template is="dom-repeat" items="{{verses}}" index-as="idx">
      <div class="book__outer">
        <template is="dom-repeat" items="{{item.verse}}" as="verse">
          <template is="dom-if" if="{{showBook(idx)}}">
            <h2 class="book">[[book(index)]]</h2>
          </template>
        </template>
      </div>
    </template>
    <div class="verses__container">
      <template is="dom-repeat" items="{{verses}}" index-as="idx">

        <div class="verses__line">
          <template is="dom-repeat" items="{{item.verse}}" as="verse">
            <div class="verse__column">
              <template is="dom-if" if="{{showChapter(idx,verse.index)}}">
                <h3 class="chapter">[[titleChapter(index)]] {{chapter(verse)}}</h3>
              </template>
              <p class="verse">
                <span class="verse__index">{{verse.index}}</span>
                <span class="verse__content">{{verse.content}}</span>
              </p>
            </div>
          </template>
        </div>
      </template>
    </div>

  </template>
  <script src="./baiboly-sequence.ts"></script>
  <!-- <script>
         // cf. comment in baiboly-dispatcher
   import './baiboly-sequence';
   </script> -->
</dom-module>
