<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../baiboly-dispatcher/baiboly-dispatcher.html">
<link rel="import" href="../baiboly-sequence/baiboly-sequence.html">
<dom-module id="baiboly-reveal-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <baiboly-dispatcher sequences="{{sequences}}"></baiboly-dispatcher>
    <template is="dom-repeat" items="{{sequences}}">
      <section>
        <baiboly-sequence verses="[[item]]"></baiboly-sequence>
      </section>
    </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BaibolyRevealApp extends Polymer.Element {
      static get is() { return 'baiboly-reveal-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'baiboly-reveal-app'
          },
          sequences: {
            type: Array
          }
        };
      }
    }

    window.customElements.define(BaibolyRevealApp.is, BaibolyRevealApp);
  </script>
</dom-module>
