<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../baiboly-sequence/baiboly-sequence.html">

<dom-module id="baiboly-slide">
   <template>
      <style>
         :host {
            display: block;
         }
      </style>
      <template is="dom-repeat" items="{{sequences}}">
         <baiboly-sequence book="[[item.book]]" chapter="[[item.chapter]]" verses="[[item.verses]]"></baiboly-sequence>
      </template>
   </template>

   <script src="baiboly-slide.js"></script>
</dom-module>