<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../fihirana-reveal/res/icons/myicons.html">

<dom-module id="scroller-ko">
   <template>
      <style>
         :host {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: stretch;
            position: absolute;
            bottom: 0;
            right: 0;
            top: 0;
            width: 2rem;
         }
         #up, #down {
            flex: 0 0 auto;
         }
         .mid-spacer {
            flex: 0 0 15%;
         }
      </style>

      <paper-icon-button id="up" icon="myicons:arrow-up"></paper-icon-button>
      <div class="mid-spacer"></div>
      <paper-icon-button id="down" icon="myicons:arrow-down"></paper-icon-button>

   </template>
   <script src="./scroller-ko.ts"></script>
</dom-module>