<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="generator" content="Polymer Redux Webpack Starter Kit">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>My App</title>
    <meta name="description" content="My App description">

    <!--
  The `<base>` tag below is present to support two advanced deployment options:
  1) Differential serving. 2) Serving from a non-root path.

  Instead of manually editing the `<base>` tag yourself, you should generally either:
  a) Add a `basePath` property to the build configuration in your `polymer.json`.
  b) Use the `--base-path` command-line option for `polymer build`.

  Note: If you intend to serve from a non-root path, see [polymer-root-path] below.
-->
    <base href="/">

    <link rel="icon" href="images/favicon.ico">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="manifest.json">

    <!-- See https://goo.gl/qRE0vM -->
    <meta name="theme-color" content="#3f51b5">

    <!-- Add to homescreen for Chrome on Android. Fallback for manifest.json -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="My App">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="My App">

    <!-- Homescreen icons -->
    <link rel="apple-touch-icon" href="images/manifest/icon-48x48.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/manifest/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="96x96" href="images/manifest/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/manifest/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="192x192" href="images/manifest/icon-192x192.png">

    <!-- Tile icon for Windows 8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/manifest/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#3f51b5">
    <meta name="msapplication-tap-highlight" content="no">
</head>
<body>
    <!--
      Feature detect Custom Elements support. If the browser DOES support Custom
      Elements then we need to load the custom-elements-es5-adapter because
      our project code has been transpiled from ES2015 to ES5 and native Custom
      Elements expect elements will be registered as classes.
    -->
    <div id="ce-es5-shim">
        <script type="text/javascript">
          if (!window.customElements) {
            var ceShimContainer = document.querySelector('#ce-es5-shim');
            ceShimContainer.parentElement.removeChild(ceShimContainer);
          }
        </script>
        <script type="text/javascript" src="../bower_components/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    </div>

    <!--
      Enable service workers for PWA
    -->
    <script>
      const baseUrl = document.querySelector('base').href;
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
          navigator.serviceWorker.register(baseUrl + 'service-worker.js');
        });
      }
    </script>

    <!--
      Use the webcomponents-loader script which will feature detect which Web
      Components features are missing and lazy load the appropriate polyfills.
      When we hear the 'WebComponentsReady' event from the polyfill bundle we can
      insert our 'bundle.js'.
    -->
    <!-- <script>
      (function() {
        document.addEventListener('WebComponentsReady', function componentsReady() {
          document.removeEventListener('WebComponentsReady', componentsReady, false);
          <% for (let i=0; i< htmlWebpackPlugin.files.js.length ; i++) { %>
            let script<%= i %> = document.createElement('script');
            script<%= i %>.src = '<%= htmlWebpackPlugin.files.js[i] %>';
            var refScript = document.getElementsByTagName('script')[0];
            refScript.parentNode.insertBefore(script<%= i %>, refScript);
          <% } %>
        }, false);
      })();
    </script> -->
    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <!--
      IMPORTANT: Make sure you set the inject: false option in HTMLWebpackPlugin
      so it doesn't try to insert bundle.js. We're handling loading it ourselves
      up above.
    -->
    <noscript>
        Please enable JavaScript to view this website.
    </noscript>


    <!--
      Styles for base body element.
    -->
    <style>
        body {
            margin: 0;
            font-family: 'Roboto', 'Noto', sans-serif;
            line-height: 1.5;
            min-height: 100vh;
            background-color: #eeeeee;
        }
    </style>
    <baiboly-reveal-app></baiboly-reveal-app>
    <!-- <script src="webpack.js" type="text/javascript"></script>
    <script src="common.js" type="text/javascript"></script> -->
</body>
</html>